$mainblue: #3AAFA9;
$logocolor: #fff;
$maintext: #011627;
$blue: #408c99;
$btnhover: #599bb3;

$form-bg: #13232f;
$main-light: lighten($mainblue,5%);
$main-dark: darken($mainblue,5%);
$gray-light: #a0b3b0;
$gray: #ddd;
$body-bg: white;
$white:#ffffff;
