//@import "compass/css3";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

$thin: 300;
$normal: 400;
$bold: 600;
$br: 10px;

@import 'colors.scss';

*, *:before, *:after {
  box-sizing: border-box;
}

html {
	//overflow-y: scroll;
  margin: 0;
}

body {
  margin-top: 0;
  background:$body-bg;
  font-family: 'Titillium Web', sans-serif;
}

header{
  background: $mainblue;
  position: fixed;
  width: 100%;
  margin-top: 0;
}

.toggle, [id=drop]{
  display: none;
}

.logo{
  margin: 0;
  padding: 0;
}
.logo a{
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  float: left;
}
.logo a:hover{
  opacity: 0.7;
  text-decoration: none;
  color: $logocolor;
}

nav{
  float: right;
  line-height: 34px;
}
nav ul{
  margin: 0;
  padding: 0;
}
nav ul li{
  display: inline-block;
  margin: 0 5px 0 5px;
}
nav ul li a{
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  padding: 9px;
}
nav ul li a:hover{
  color: white;
  text-decoration:none;
   opacity: 0.7;
  background: darken($mainblue,15%);
}


a {
  text-decoration:none;
  color:$mainblue;
  transition:.5s ease;
  &:hover {
    color:$main-dark;
  }
}

.form1 {
  background:rgba($form-bg,.9);
  display: block;
  padding: 40px;
  //width: 50%;
  max-width:600px;
  position: absolute;
  margin-top: 3%;
  left: 30%;
  right: 30%;
  border-radius:$br;
  box-shadow:0 4px 10px 4px rgba($form-bg,.3);
}

.tab-group {
  list-style:none;
  padding:0;
  margin:0 0 40px 0;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  li a {
    display:block;
    text-decoration:none;
    padding:15px;
    background:rgba($gray-light,.25);
    color:$gray-light;
    font-size:20px;
    float:left;
    width:50%;
    text-align:center;
    cursor:pointer;
    transition:.5s ease;
    &:hover {
      background:$main-dark;
      color:$white;
    }
  }
  .active a {
    background:$mainblue;
    color:$white;
  }
}

//.tab-content > div:last-child {
  //display:none;
//}


h1 {
  text-align:center;
  color:$white;
  font-weight:$thin;
  margin:0 0 40px;
}

.formlabl {
  position:absolute;
  transform:translateY(6px);
  left:13px;
  color:rgba($white,.5);
  transition:all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size:22px;
  .req {
  	margin:2px;
  	color:$mainblue;
  }
}

.formlabl.active {
  transform:translateY(50px);
  left:2px;
  font-size:14px;
  .req {
    .formlabl {
      position:absolute;
      transform:translateY(6px);
      left:13px;
      color:rgba($white,.5);
      transition:all 0.25s ease;
      -webkit-backface-visibility: hidden;
      pointer-events: none;
      font-size:22px;
      .req {
      	margin:2px;
      	color:$mainblue;
      }
    }
  }
}

label.highlight {
	color:$white;
}

input, textarea {
  font-size:22px;
  display:block;
  width:100%;
  height:100%;
  padding:5px 10px;
  background:none;
  background-image:none;
  border:1px solid $gray-light;
  color:$white;
  border-radius:0;
  transition:border-color .25s ease, box-shadow .25s ease;
  &:focus {
		outline:0;
		border-color:$mainblue;
  }
}

textarea {
  border:2px solid $gray-light;
  resize: vertical;
}

.field-wrap {
  position:relative;
  margin-bottom:40px;
  height: 50px;
}

.top-row {
  &:after {
    content: "";
    display: table;
    clear: both;
  }

   div {
    float:left;
    width:48%;
    margin-right:4%;
    &:last-child {
      margin:0;
    }
  }
}

.button {
  border:0;
  outline:none;
  border-radius:0;
  padding:15px 0;
  font-size:2rem;
  font-weight:$bold;
  //text-transform:uppercase;
  letter-spacing:.1em;
  background:$mainblue;
  color:$white;
  transition:all 0.2s ease;
  -webkit-appearance: none;
  &:hover, &:focus {
    background:$main-dark;
  }
}

.button-block {
  display:block;
  width:100%;
}

.forgot {
  margin-top:-20px;
  text-align:right;
}


.container{
  margin-top: 0;
}

@media (min-width: 768px) and (max-width: 979px) {



}


/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

  *,html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-size: 1em;
   font-family: 'Roboto', sans-serif;
  }

  header{
    background: $mainblue;
    position: fixed;
    width: 100%;
  }

  .logo{
      display: block;
      width: 100%;
      text-align: center;
      float: none;
      padding: 20px 0 10px;

    }
  .logo a{
    color: white;

  }
  nav{
    width: 100%;
    float: none;
    display: block;
    position: relative;
  }
  nav ul li{
    width: 100%;
    border-bottom: 1px solid darken($mainblue,15%);
  }
  .toggle +a, ul{
    display:none;
  }
  .toggle{
      display: block;
      background-color: $mainblue;
      padding: 20px 20px;
      color: #fff;
      font-size: 17px;
      cursor:pointer;
    }

    .toggle:hover{
      background-color: $mainblue;
      cursor: pointer;
    }
  [id^=drop]:checked + ul{
    display: block;
  }
  .toggle:before{
          position: absolute;
      top: 16px;
      right: 17px;
      display: block;
      height: 2px;
      width: 20px;
      background: $logocolor;
      content: '';

    }

    .toggle:after{
          position: absolute;
      top: 22px;
      right: 17px;
      display: block;
      height: 8px;
      width: 20px;
      border-top: 2px solid $logocolor;
      border-bottom: 2px solid $logocolor;
      content: '';
    }

    .toggle-open:before{    top: 23px;
      background: #ffffff;
      position: absolute;
      width: 15px;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);}

    .toggle-open:after{top: 23px;
      border: 0;
      height: 2px;
      width: 15px;
      background: #ffffff;
      position: absolute;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    .form1{
      margin-top: 35%;
      left: auto;
      right: auto;
      width: 100%;
      z-index: -1;
    }
 }



/* Landscape phones and down */
//@media (max-width: 480px) { ... }
